@model IEnumerable<WebApplication10.Models.projectteams>

@{
    ViewBag.Title = "ViewTeam";
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<h2>ViewTeam</h2>


<table class="table" style="text-align:start">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projects.titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projects.titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.firstname)
        </td>
        <td>
            
                @Html.ActionLink("Delete", " rej", new { id = item.Id }, new { @class = "btn btn-danger"})
            
</td>
    </tr>
}

</table>
<h2 style="text-align:left">
    @Html.ActionLink("Create New", "Create")
</h2>